<!DOCTYPE html>
<html>
	<head>
		<title>Socket.IO chat</title>
		<link rel="stylesheet" type="text/css" href="/styles.css">
	</head>
	<body>
		<%- body %>
		<script src="/socket.io/socket.io.js"></script>
		<script src="/jquery.js"></script>
		<script src="/interface.js"></script>
	</body>
</html>